<div class="container">
  <h2 class="mt-10">Equipment in your area</h2>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3 col-sm-6">
<!--           responsiveness is added at a medium screen, half screen for small screens, and large screen is 12 along with mobile
 -->       <%= link_to item_path(item) do %>
            <div class="card-index">
              <%= cl_image_tag item.pictures.first.photo.key, height: 125, width: 210, crop: :fill   %>
                <h5 class="card-title"> <%= item.model %></h5>
                <p class="card-text"> <%= item.user_description %> </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Condition is <%= item.condition %></li>
                <li class="list-group-item">Price: $<%= item.price_per_day %> per day</li>
              </ul>
            <% end %>
          </div>
          <!-- column and card need to close AFTER the iteration is done so that you create a column AND
          a card for each iteration (in this case 4 columns across) -->
        </div>
      <% end %>
  </div>
</div>
