<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
<!--     need to update the logo so that it goes back to homepage
 -->  <% end %>
</div>

<!-- Info on item thats been rented -->
<h2>You rented: <%= @rental.item.model %> </h2>
<p>Owned by <%= @rental.user.first_name %> </p>
<p>From <%= @rental.start_date %> to <%= @rental.end_date %> </p>

<!-- Cancel order button -->
<%= simple_form_for(@rental, :method => :delete) do |f| %>
  <%= f.submit 'Cancel your rental' %>
<% end %>

<%= simple_form_for [@rental] do |f| %>
  <%= f.submit 'Add a Review', disabled: true %>
<% end %>

<!-- Write a review button -->
