<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
<!--     need to update the logo so that it goes back to homepage
 -->  <% end %>
</div>

<div class="container">
<!-- Info on item thats been rented -->
  <div class="card-rental">
    <div class="rental-card-info">
      <!-- 'Camera' will be: <%= @rental.item.model %> -->
      <h2>You rented: Canon5D Mark 4 </h2>
      <p>Owned by <%= @rental.user.first_name %> </p>
      <p>From <%= @rental.start_date %> to <%= @rental.end_date %> </p>
    </div>

    <!-- Cancel order button -->
    <div class="rental-card-buttons">
      <%= simple_form_for(@rental, :method => :delete) do |f| %>
        <%= f.submit 'Cancel your rental', class: 'btn btn-warning' %>
      <% end %>

    <!-- Write a review button -->
      <%= simple_form_for [@rental] do |f| %>
        <%= f.submit 'Add a Review', disabled: true, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
