<div class="container">
  <div class="row">
    <div class="col-3 user-info">
      <div class="user-info">
        <h5 class="card-title"> <%= @user.first_name %> <%= @user.last_name %> </h5>
        <p class="card-text"> <%= @user.email %></p>
        <p class="card-text"> <%= @user.location %></p>
        <hr>
        <%= link_to "Edit", edit_user_registration_path, class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="col-9 user-rentals-and-owned">
      <div class="user-rentals">
        <h2 class="mt-10">Rentals</h2>
        <div class="container">
            <div class="cards">
              <% @user.rentals.each do |rental| %>
                <div class="card-index">
                  <%= link_to 'See item', item_path(rental.item.id) %>
                  <img src="<%= asset_path('canon.jpeg') %>" class="card-img-top" alt="Item image">
                  <div class="card-body">
                    <h5 class="card-title"> <%= rental.item.brand %> <%= rental.item.model %></h5>
                    <p class="card-text"> <%= rental.item.product_description %> </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <%= rental.item.price_per_day %></li>
                    <li class="list-group-item"> <%= rental.item.condition %></li>
                  </ul>
                  <div class="card-body">
                    <p class="card-text"> Owner: <%= rental.item.user.first_name %></p>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
      <div class="user-owned-items">
        <h2 class="mt-10">Items owned by you</h2>
        <div class="container">
            <div class="cards">
              <% @user.items.each do |item| %>
                <div class="card-index">
                  <%= link_to 'Edit item', edit_item_path(item.id) %>
                  <img src="<%= asset_path('canon.jpeg') %>" class="card-img-top" alt="Item image">
                  <div class="card-body">
                    <h5 class="card-title"> <%= item.brand %> <%= item.model %></h5>
                    <p class="card-text"> <%= item.product_description %> </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <%= item.price_per_day %></li>
                    <li class="list-group-item"> <%= item.condition %></li>
                  </ul>
                </div>
              <% end %>
            </div>
        </div>
        <%= link_to "Add Item", new_item_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>

