 <%= render 'shared/banner' %>


<div class="container">
  <div class="cards">
    <a href="items">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'photo.jpg' %>)">Camera bodies
      </div>
    </a>
    <a href="items">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'lens.jpeg' %>)">Lenses
      </div>
    </a>

      <a href="items">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'water.png' %>)">Accesories
        </div>
      </a>
  </div>
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
</div>
