 <%= render 'shared/banner' %>


<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'photo.jpg' %>)">
      <%= link_to "Camera body", items_path(@items) %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'lens.jpeg' %>)">
      <%= link_to "Lenses", items_path(@items) %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'water.png' %>)">
      <%= link_to "Accessories", items_path(@items) %>
    </div>
  </div>
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
</div>
