<div style="background-position: center; height: 750px; background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path 'camback.jpg' %>)">

<div class="container">
  <div class="row">
    <div class="item-info-and-booking mt-5 col-9" style="color: white">
      <div class="item-info">
        <%= simple_form_for(@item) do |f| %>
          <div class="row">
            <div class="col-md-6">
              <h3>Enter equipment details</h3>
              <%= f.input :brand, value: @item.brand || '' %>
              <%= f.input :model, value: @item.model || '' %>
              <%= f.input :product_description, value: @item.product_description || '' %>
              <%= f.input :item_category, collection: [ "Camera", "Lens", "Accessory" ], value: @item.item_category || 'Camera' %>
              <%= f.input :user_description, value: @item.user_description || '' %>
            </div>
            <div class="col-md-6 p-5 mt-5">
              <h5> What is the condition and price per day?</h5>
               <%= f.input :condition, collection: [ "Poor", "Sufficient", "Good", "As New" ], value: @item.condition || 'Sufficient' %>
              <%= f.input :price_per_day, value: @item.price_per_day || 0%>
              <%= f.button :submit, class: 'btn btn-primary' %>

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
              Add a picture
            </button>

              <div class="container p-0 " style="width: 400px;height: 250px;">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <% @item.pictures.each_with_index do |picture, index| %>
                        <% active = 'class="active"' if index == 0 %>
                        <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %> " <%= active %>></li>
                        <% active ='' %>
                      <% end %>
                    </ol>
                    <div class="carousel-inner" style="height: 250px">
                      <% @item.pictures.each_with_index do |picture, index| %>
                        <% active = 'active' if index == 0 %>
                        <div class="carousel-item <%= active %>" style="background-image: url(<%= cl_image_path picture.photo.key %>); background-size: contain; background-position: center; height: 100%; background-repeat: no-repeat;">

                        </div>
                        <% active ='' %>
                      <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
              </div>
            </div>
            <!-- Button trigger modal -->
          </div>
        <% end %>
      </div>
    </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title w-100" id="exampleModalLabel">Add a picture</h5>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@item, @picture] do |f| %>
                <div class="form-inputs">
                  <%= f.input :description %>
                  <%= f.input :photo, as: :file %>
                </div>

                <div class="form-actions">
                  <%= f.submit 'Add a picture', class: 'btn btn-warning' %>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
