<div class="container">
  <div class="row">
    <div class="col-3 item-info-and-booking">
      <div class="item-info">
        <%= simple_form_for(@item) do |f| %>
          <div class="form-inputs">
            <%= f.input :brand, value: '' %>
            <%= f.input :model, value: '' %>
            <%= f.input :product_description, value: '' %>
            <%= f.input :item_category, collection: [ "Camera", "Lens", "Accessory" ], value: 'Camera' %>
            <%= f.input :user_description, value: '' %>
            <%= f.input :condition, collection: [ "Poor", "Sufficient", "Good", "As New" ],value: 'Sufficient' %>
            <%= f.input :price_per_day, value: 0 %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-9 item-pictures-carousel">

    </div>
  </div>
</div>
