
<div class="container">
  <div class="row">
    <div class="col-3 item-info-and-booking">
      <div class="item-info">
        <h5 class="card-title"> <%= @item.brand %> <%= @item.model %> </h5>
        <p class="card-text"> <%= @item.product_description %></p>
        <p class="card-text"> <%= @item.item_category %></p>
        <hr>
        <p class="card-text"> <%= @item.user.first_name %> <%= @item.user.last_name %> </p>
        <p class="card-text"> <%= @item.user_description %> </p>
        <p class="card-text"><small class="text-muted"> <%= @item.condition %> </small></p>
        <p class="card-text"> Price per day:  <%= @item.price_per_day %> euro</p>
      </div>
      <div class="item-booking">
        <%= simple_form_for [@item, @rental] do |f| %>
          <div class="form-actions">
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true%>
            <%= f.button :submit, class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-9 item-pictures-carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @item.pictures.each_with_index do |picture, index| %>
              <% active = 'class="active"' if index == 0 %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %> " <%= active %>></li>
              <% active ='' %>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @item.pictures.each_with_index do |picture, index| %>
              <% active = 'active' if index == 0 %>
              <div class="carousel-item <%= active %>">
                <%= cl_image_tag picture.photo.key, class: "d-block w-100", alt: "Slide not showing " %>
                <div class="carousel-caption d-none d-md-block">
                  <p><%= picture.description %> </p>
                </div>
              </div>
              <% active ='' %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </div>
</div>
